.idea/
*/__pycache__/
*/__pycache__/*
*.pyc
venv/
lib/network/__pycache__/udp_socket.cpython-36.pyc
lib/Player/__pycache__/
lib/math/__pycache__/
variables
accessors
*.log
main_test.py
test.sh
todos.py
*.so
*.c
build/
binary/

test.py

player-*.txt
player-*.err
log
.gitignore
test-log
main_tmp.py
